*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: top;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: "Preconnect", sans-serif;
    color: #212121;
    letter-spacing: 0.9px;
    font-weight: 400;
    font-size: 16px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}



a {
    text-decoration: none;
    color: #000000;
}

body {
    background-color: #b8b8b8;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;

}

.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #E0E0E0;
    border: solid #E0E0E0;
    margin-top: 20px;
    border-radius: 120px;
    box-shadow: 5px 10px 10px #E0E0E0;
}

.header-nav-discription {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
    padding: 40px;
    width: 800px;

}

.header-nav-discription :hover {
    text-transform: uppercase;
    color: #A3A3A0;
    text-shadow: 10px 10px 10px #000000;

}

.header-right-block button {
    background-color: #E0E0E0;
    width: 200px;
    height: 90px;
    cursor: pointer;
    border-radius: 120px;
    margin-top: 20px;
    box-shadow: 9px 2px 10px #ffffff;
    border: solid 1px #E0E0E0;
    margin-top: 25px;

}

.header-right-block :hover {
    text-transform: uppercase;
    color: #E0E0E0;
    background-color: #212121;
}

.main-container {
    margin-top: 40px;
}

.main-float1 {
    border: solid 2px #FF9999;
    margin-bottom: 100px;
    height: 54px;
    max-width: 700px;
}

.main-float1-block1 {
    background-color: #000000;
    width: 200px;
    height: 50px;
    float: left;
}

.main-float1-block2 {
    background-color: #fff7f7;
    width: 200px;
    height: 50px;
    float: right;

}

.main-float2 {
    border: solid 2px #00ff22;
    margin-bottom: 100px;
    height: 65px;
    max-width: 1200px;
}


.main-float2-block1 {
    background-color: #ffffff;
    width: 200px;
    height: 50px;
    float: left;
    margin: 5px;
}

.main-float2-block2 * {
    width: 200px;
    height: 50px;
    float: right;
    margin: 5px;
}

.main-float2-block2 :first-child {
    background-color: blue;
}

.main-float2-block2 :nth-child(2) {
    background-color: blanchedalmond;
}

.main-float2-block2 :last-child {
    background-color: darkolivegreen;
}

.main-float3 {
    border: solid 2px #ff0051;
    margin-bottom: 100px;
    height: 65px;
    max-width: 1200px;
}

.main-float3-block1 * {
    width: 200px;
    height: 50px;
    float: right;
    margin: 5px;
}

.main-float3-block1 :first-child {
    background-color: #ff0051;
}

.main-float3-block1 :last-child {
    background-color: lemonchiffon;
}

.main-float3-block2 * {
    width: 200px;
    height: 50px;
    float: left;
    margin: 5px;
}

.main-float3-block2 :first-child {
    background-color: olivedrab;
}

.main-float3-block2 :last-child {
    background-color: saddlebrown;
}

.main-float4 {
    border: solid 2px #805663;
    margin-bottom: 100px;
    height: 130px;
    max-width: 1200px;
}

.main-float4-block1 {
    background-color: #ffffff;
    width: 200px;
    height: 110px;
    margin: 5px;
    float: left;
    margin-left: 780px;
}


.main-float4-block2 * {
    width: 200px;
    height: 50px;
    margin: 5px;
    float: right;
}

.main-float4-block2 :first-child {
    background-color: violet;
}

.main-float4-block2 :last-child {
    background-color: darkgoldenrod;
}

.main-float5 {
    border: solid 2px #3700ff;
    margin-bottom: 100px;
    height: 130px;
    max-width: 1200px;
}

.main-float5-block1 {
    background-color: #a48a8a;
    width: 200px;
    height: 110px;
    margin: 5px;
    float: left;
    margin-left: 400px;

}

.main-float5-block2 * {
    width: 200px;
    height: 50px;
    margin: 5px;
    float: right;
    margin-right: 385px;
}

.main-float5-block2 :first-child {
    background-color: darkcyan;
}

.main-float5-block2 :last-child {
    background-color: indigo;
}